.username {
  background: beige;
  width: 400px;
  border-radius: 5px;
  text-align: center;
  border: solid;
  border: solid 2px,
},

.table {
  float: right;
  border: solid 2px;
  background: azure;
},

.log {
  border: solid 2px,
},

.title {
  color: darkblue;
}
